<a href="https://colab.research.google.com/github/18K41A0278SALMAN/ASSIGNMENT-2-AI/blob/master/Untitled6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.area of triangle

In [ ]:
a = float(input("Enter First side:"))
b = float(input("Enter Second side:"))
c = float(input("Enter Third side:"))
s = (a+b+c)/2
area = (s*(s-a)*(s-b)*(s-c))**0.5
print("Area of Triangle=",area)

Enter First side:6
Enter Second side:7
Enter Third side:9
Area of Triangle= 20.97617696340303

2.Take a string and check wheathre given string is polindrome or not.

In [ ]:
string = input("Enter a String:")
if(string==string[::-1]):
    print("The string is a P0lindrome")
else:
    print("The string is not a Polindrome")

Enter a String:rotator
The string is a P0lindrome

3.Write a program that reads a year from the user and displays a message Indicating whether or not it is a leap year.

In [ ]:
year = int(input("Enter a year:"))
if year%4==0 and year%100!=0:
    print(year,"is a Leap Year")
elif year%100==0:
    print(year,"is not a Leap Year")
elif year%400==0:
     print(year,"is a Leap Year")
else:
     print(year,"is not a Leap Year")

Enter a year:2020
2020 is a Leap Year


4.Space To Hyphen problem
Take a string as input, and replaces spaces “ “ with hyphens “-”, and returns a string.

In [ ]:
string = input("Enter a string:")
string = string.replace(" ","-")
print("New String:",string)

Enter a string:hai my self abc
New String: hai-my-self-abc

Unique Sort problem
5.Take a string as input that accepts a comma separated sequence of words as input and prints the unique words in sorted form (alphanumerically).

In [ ]:
Input = input("Enter  words:").split(",")
words = list(set(Input))
words.sort()
print("Unique words in sorted form are:",str(words))

Enter  words:lion,tiger,goat,tiger
Unique words in sorted form are: ['goat', 'lion', 'tiger']


Tax Calculator

Ask the user for their monthly salary. Calculate whether they have to pay tax and if so, how much is that amount .Print the result

In [ ]:
i=int(input("enter income"))
if i<250000:
  print("nil")
elif i>250000 and i<=500000:
  tax=i*(5/100)
  print(tax)
elif i>500000 and i<=750000:
  tax=i*(10/100)
  print(tax)
elif i>750000 and i<=1000000:
  tax=i*(15/100) 
  print(tax)
elif i>1000000 and i<=1250000:
  tax=i*(20/100)
  print(tax)
elif i>12500010 and i<=1500000:
  tax=i*(25/100)
  print(tax)
else:
 tax=i*(30/100)
 print(tax)

enter income300000
15000.0

Take a list of integers as an argument, and converts it into a single integer (return the integer).

In [ ]:
list = [15,63,90]
for i in list:
    print(i,end="")

156390

Units of Time

Create a program that reads duration from the user as a number of days, hours, minutes, and seconds. Compute and display the total number of seconds represented by this duration.

In [ ]:
seconds_per_minute = 60
seconds_per_hour = 3600
seconds_per_day = 86400
days = int(input("Enter no. of days="))
hours = int(input("Enter no. of hours="))
minutes = int(input("Enter no. of minutes="))
seconds = int(input("Enter no. of seconds="))
total_seconds = days*seconds_per_day
total_seconds = total_seconds+(hours*seconds_per_hour)
total_seconds = total_seconds+(minutes*seconds_per_minute)
total_seconds = total_seconds+seconds
print("Total seconds =",total_seconds)

Enter no. of days=15
Enter no. of hours=8
Enter no. of minutes=35
Enter no. of seconds=50
Total seconds = 1326950

Sort 3 Integers

Given three integers (given through user input), sort the numbers using |min| and |max| functions.

In [ ]:
first = int(input("Enter the first no.:"))
second = int(input("Enter the second no.:"))
third = int(input("Enter the third no.:"))
minimum = min(first,second,third)
maximum = max(first,second,third)
remaining = (first+second+third)-minimum-maximum
print("Sorted form:",minimum,remaining,maximum)

Enter the first no.:60
Enter the second no.:40
Enter the third no.:50
Sorted form: 40 50 60

10.Write a program that reads a date from the user and computes its immediate successor. The date is the format YYYY-MM-DD. So, 2020-04-15 will have the successor 2020-04-16.

In [ ]:

year = int(input("Input a year: "))

if (year % 400 == 0):
    leap_year = True
elif (year % 100 == 0):
    leap_year = False
elif (year % 4 == 0):
    leap_year = True
else:
    leap_year = False

month = int(input("Input a month (1-12): "))

if month in (1, 3, 5, 7, 8, 10, 12):
    month_length = 31
elif month == 2:
    if leap_year:
        month_length = 29
    else:
        month_length = 28
else:
    month_length = 30


day = int(input("Input a day (1-31): "))

if day < month_length:
    day += 1
else:
    day = 1
    if month == 12:
        month = 1
        year += 1
    else:
        month += 1
print("The next date is [yyyy-mm-dd] %d-%d-%d." % (year, month, day))

Input a year: 2000
Input a month (1-12): 3
Input a day (1-31): 10
The next date is [yyyy-mm-dd] 2000-3-11.


11.Compute product of a list of numbers [45 ,3,2,89,72,1,10,7] Output: 121111200

In [ ]:
l = [45 ,3,2,89,72,1,10,7]
m = 1
for i in l:
    m = m*i
print(m)

121111200


12.Compute given Num_list = [5, 6,8 ,34,89,1] to get desired output Output: Out_list=[11,14,42,123,90]

In [ ]:
Num_list = [5,6,8,34,89,1]
l = []
for i in range(len(Num_list)-1):
    n = Num_list[i]+Num_list[i+1]
    l.append(n)
print("Out_list:",l)

Out_list: [11, 14, 42, 123, 90]

13.Compute given Num_tuple = (5, 6,8 ,3,9,1) to get desired output Output: Out_list = [5, 30, 240, 720, 6480, 6480]

In [ ]:
Num_tuple = (5,6,8,3,9,1)
l = []
m = 1
for i in range(len(Num_tuple)):
    m = m*Num_tuple[i]
    l.append(m)
print(l)

[5, 30, 240, 720, 6480, 6480]

Write a Python code that takes a number and returns a list of its digits. So for 586392 it should return [5,8,6,3,9,2]

In [ ]:
n = input("Enter a number:")
l = []
for i in range(len(n)):
    l.append(n[i])
print(l)

Enter a number:987654
['9', '8', '7', '6', '5', '4']

15.Write a program that finds the longest palindromic substring of a given string

In [ ]:
def longestpalindrome(n):
    d=[[False for i in range(len(n))] for i in range(len(n))]
    for i in range(len(n)):
        d[i][i]=True
    maxlen=1
    start=0
    for j in range(2,len(n)+1):
        for i in range(len(n)-j+1):
            end=i+j
            if j==2:
                if n[i]==n[end-1]:
                    d[i][end-1]=True
                    maxlen=j
                    start=i
            else:
                if n[i]==n[end-1] and d[i+1][end-2]:
                    d[i][end-1]=True
                    maxlen=j
                    start=i
    return n[start:start+maxlen]
n=input("Enter a string : ")
print(longestpalindrome(n))

Enter a string : artificial intellengence
elle

Substring Check (Bug Funny) Given two binary strings, A (of length 10) and B (of length 5), output 1 if B is a substring of A and 0 otherwise. First two lines of input: 1010110010 10110 1110111011 10011 First two lines of output: 1 0

In [ ]:
def check(A, B): 
    if (A.find(B) == -1): 
        print("Output=0") 
    else: 
        print("Output=1")
A = input("Enter a binary string of length 10:")
B =input("Enter a binary string of length 5:")
check(A, B)

Enter a binary string of length 10:1010101001
Enter a binary string of length 5:01010
Output=1

1.POUR1 - Pouring water Given two vessels, one of which can accommodate a litres of water and the other
2.b litres of water, determine the number of steps required to obtain exactly c litres of water in one of the vessels. At the beginning both vessels are empty. The following operations are counted as 'steps': • emptying a vessel, • filling a vessel, • pouring water from one vessel to the other, without spilling, until one of the vessels is either full or empty. Input An integer t, 1<=t<=100, denoting the number of testcases , followed by t sets of input data, each consisting of three positive integers a, b, c, not larger than 40000, given in separate lines. Output For each set of input data, output the minimum number of steps required to obtain c litres, or -1 if this is impossible.

In [ ]:
t=int(input("number of test case="))
for i in range(t):
  a,b,c=map(int,input("enter a b c =").split())
  if a>b:
    d=a-b
  elif a<b:
    d=b-a
  if c==a or c==b:
    print("1")
  elif d==c:
    print("2")
  else:
    print("-1")

number of test case=2
enter a b c =2 3 4
-1
enter a b c =8 6 4
-1